body {
    padding: 70px;
}

.title {
    text-align: center;
}

.btn-primary {
    background-color:blue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 70px;
}